services:
  sysprint-client:
    container_name: sysprint-client
    image: sysprint-client
    build:
      context: sysprint-client
      dockerfile: Dockerfile
      args:
        NODE_ENV: production
    restart: always
    volumes:
      - ./data:/data
      - ./sysprint-client:/app

  sysprint-server:
    container_name: sysprint-server
    image: sysprint-server
    build:
      context: sysprint-server
      dockerfile: Dockerfile
      args:
        ADMIN_USER: admin
        ADMIN_PASS: cupsadmin
        NODE_ENV: production
    restart: always
    volumes:
      - cups-config:/etc/cups
      - cups-logs:/var/log/cups
      - cups-spool:/var/spool/cups
      - cups-data:/usr/share/cups
      - smb-conf:/etc/samba
      - ./data:/data
      - ./sysprint-server:/app
    ports:
      - "632:631"

  nginx:
    image: nginx:latest
    container_name: nginx
    user: root
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: always
volumes:
  cups-config:
  cups-logs:
  cups-spool:
  cups-data:
  smb-conf:
